@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.bar-2{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}
.bar-2-contents{
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 250px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.des-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: rgb(149, 149, 149);
    
}
.dollar{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}
.percentage{
    color: green;
    font-weight: bold;
}
.percentage-1{
    color: green;
    font-size: 25px;
    font-weight: bolder;
}
.des-ack{
    font-size: 13px;
    font-weight: 700;
    color: rgb(149, 149, 149);
}

@media screen and (max-width: 600px){
    .bar-2{
        width: 10%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1;
    }

    .bar-2-contents{
        background-color: rgb(255, 255, 255);
        height: 150px;
        width: 280px;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 968px) {
    .bar-2{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bar-2-contents{
        background-color: rgb(255, 255, 255);
        height: 150px;
        width: 280px;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}