@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.bar-3{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.bar-3-contents-1{
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 64%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bar-3-contents-2{
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 350px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bar-inner-content-1 {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 0px 15px;
}
.bar-inner-content-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}
.bar-inner-content-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    
}
.drop-down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: max-content;
    background-color: #9ca1a8;
    padding: 0 8px 0 8px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: rgb(79, 79, 79);
}
.monthly-earing{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(165, 160, 160);
}

.static-bar-1,.static-bar-2,.static-bar-3,.static-bar-4,.static-bar-5,.static-bar-6,.static-bar-7,.static-bar-8,.static-bar-9,.static-bar-10,.static-bar-11,.static-bar-12{
    width: 40px;
    background-color: rgb(170, 173, 198);
    height: 220px;
    border-radius: 8px;
}
.static-bar-8{
    background-color: rgb(76, 89, 230);
}
.child-1{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 50px;
}
.child-2{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 90px;
}
.child-3{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 20px;
}
.child-4{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 150px;
}
.child-5{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-5{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 20px;
}
.child-6{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 80px;
}
.child-7{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 80px;
}
.child-8{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 5px;
}
.child-9{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-10{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
}
.child-11{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-12{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 180px;
}
.static-bar-month{
    color: #53565b;
    font-weight: 700;
}