@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.bar-3{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.bar-3-contents-1{
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 64%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bar-3-contents-2{
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bar-inner-content-1 {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 0px 15px;
}
.bar-inner-content-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}
.bar-inner-content-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    
}
.drop-down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: max-content;
    background-color: #dfe2ec;
    padding: 0 8px 0 8px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #939496;
}
.monthly-earing{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: rgb(165, 160, 160);
}

.static-bar-1,.static-bar-2,.static-bar-3,.static-bar-4,.static-bar-5,.static-bar-6,.static-bar-7,.static-bar-8,.static-bar-9,.static-bar-10,.static-bar-11,.static-bar-12{
    width: 40px;
    background-color: rgb(166, 166, 212);
    height: 220px;
    border-radius: 8px;
    
}
.static-bar-8{
    width: 40px;
    background-color: rgb(76, 89, 230);
    height: 220px;
    transition: width 12s, height 14s;
    transition-timing-function: linear;
}
.child-1{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 50px;
}
.child-2{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 90px;
}
.child-3{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 20px;
}
.child-4{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 150px;
}
.child-5{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-5{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 20px;
}
.child-6{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 80px;
}
.child-7{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 80px;
}
.child-8{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 5px;
}
.child-9{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-10{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
}
.child-11{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 30px;
}
.child-12{
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 180px;
    
}
.static-bar-month{
    color: #53565b;
    font-weight: 700;
}
.bar-inner-content-child{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: end;
        margin-top: 35px;
}
.bar-inner-content-02{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.process-bar{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.percentage-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    left: 50px;
    bottom: 100px;
    top: 90px;
    font-size: 25px;
    font-weight: 700;
    color: #6a41c4;
    
}


@media screen and (max-width: 600px){
    .bar-3-contents-1{
        background-color: rgb(255, 255, 255);
        height: 350px;
        width: 90%;
        padding: 15px;
        margin-bottom: 25px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .bar-3{
        width: 90%;
        height: 550px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .static-bar-1,.static-bar-2,.static-bar-3,.static-bar-4,.static-bar-5,.static-bar-6,.static-bar-7,.static-bar-8,.static-bar-9,.static-bar-10,.static-bar-11,.static-bar-12{
        width: 12px;
        background-color: rgb(166, 166, 212);
        height: 220px;
        border-radius: 8px;
    }
    .child-12{
        width: 1px;
        background-color: rgb(255, 255, 255);
        height: 80px;
        
    }
    .bar-inner-content-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 10px;
        height: 30px;
        align-items: start;
        
    }
    .bar-inner-content-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 250px;
    }

    .bar-3-contents-2{
        background-color: rgb(255, 255, 255);
        height: 280px;
        width: 330px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .process-bar{
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .percentage-count{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 59px;
        left: 50px;
        bottom: 100px;
        top: 80px;
        font-size: 20px;
        font-weight: 700;
        color: #6a41c4;
        
    }
    .bar-inner-content-02{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .percentage-responsive{
        width: 50px;
    }
}