.bar-4{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.bar-4-contents-1{
    background-color: #ffffff;
    height: fit-content;
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar-filled-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    padding-left: 15px;
}
.bar-4-contains{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.bar-4-contents-2{
    width: 100%;
    
}
.bar-2-details{
    display: flex;
    gap: 60px;
    padding-top: 15px;
    
}
.product-list-main{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12px;
}
.product-list-child-1{
    width: 80%;
    display: flex;
}
.product-details-info{
    margin-left: 15px;
}
.product-details{
    color: #8397ac;
    font-size: 12px;
    font-weight: 600;
}
.product-name{
    font-size: 15px;
    font-weight: bold;
}