
.master-div{
  
  display: flex;
  grid-gap: 40px;
  background-color: #F3F5F9;
  
}

.dashboard{
  height: 1340px;
  position: fixed;
  left: 0;
  width: 10%;
  background-color: transparent;
  position: fixed;
}
.mainboard{
  height: fit-content;
  width: 100%;
  margin-left: 15px;
  background-color:#F3F5F9;
}