
.master-div{
  position: relative;
  display: flex;
  grid-gap: 40px;
  background-color: #fff;
  
}

.dashboard{
  height: 1340px;
  position: fixed;
  left: 0;
  width: 13%;
  background-color: #172233;
  background-color: #000000;
  position: fixed;
}
.mainboard{
  height: fit-content;
  width: auto;
  width: 90%;
  margin-left: 13%;
  background-color:#F3F5F9;
}